@CHARSET "UTF-8";
/*body背景色*/
.bg-body{
	background-color: #f1f2f3;
}
.ellipsis-text{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	max-width: 200px;
}
.mvname{
	color: black;
	padding:0px;
	font-size:14px;
}
.player {
    color: #999;
    font-size: 85%;
    height: 20px;
    line-height: 20px;
}
/*详情页播放按钮*/
.btn-play{
	padding: 30px;
}
/*居中*/
.pagination-center{
	text-align: center !important;
}
/*宽度百分比*/
.w-5{
	width: 5% !important;
}
.w-25{
	width: 25% !important;
}