<!DOCTYPE html>
<html>
<head>
<title>Lgfei Film Site</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 解决网页图片403无法显示的问题  -->
<meta name="referrer" content="no-referrer"/>
<!-- jQuery -->
<script src="/lib/jquery/jquery-3.3.1.min.js"></script>
<!-- Bootstrap -->
<link rel="stylesheet" href="/lib/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/lib/bootstrap/popper.min.js"></script>
<script src="/lib/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- 项目样式 -->
<link rel="stylesheet" href="/css/style.css">
<!-- 项目js -->
<script src="/js/list.js"></script>
</head>
<body class="bg-body">
<!-- 导航栏 -->
<iframe name="" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" height="60px" width="100%" src="head.html"></iframe>

<!-- 电影分类搜索区 -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-body">
					<table class="table table-condensed" id="idQueryConditionTable">
						<tbody>
							<tr>
								<td class="w-5"><label>时间:</label></td>
								<td>
									<div id="idTimeCondDiv"></div>
								</td>
							</tr>
							<tr>
								<td class="w-5"><label>片源:</label></td>
								<td>
									<div id="idSourceCondDiv"></div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 电影列表 -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="panel">
				<div class="panel-body">
					<table class="table table-responsive-md" id="idMvListTable">
						<tbody>
							<!-- JS中渲染 -->
						</tbody>
					</table>
					<ul class="pagination pagination-lg" id="idMvListTablePager">	
						<!-- JS中渲染 -->
					</ul>					
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>